<!-- <div class="container welcomeletter">
  <p>You are officially a student of Ayurveda!! Please review your welcome letter. I am filled with joy!</p>
  <p>Here is a breakdown of the hours needed to become a certified Ayurvedic Health Counselor.</p>
  <p>Classroom hours - 600<br>
  Independent Consultation hours - 100<br>
  Total Clock hours - 700</p>
  <p>Program meets the required 600 hours to apply to be an Ayurvedic Health Counselor through the National Ayurvedic Medical Association (NAMA).</p>
</div> -->

<div class="container center">
  <h3>Ayurvedic Health Counselor Training</h3>
  <p><a href="../documents/WelcomeLetter.pages" target="_blank" title="Welcome Letter"><h5>Welcome to our Kula!</h5></a></p>
</div>
<div class="container center">
  <h3>Yoga & Ayurveda</h3>
  <h5>Lecture: Yoga For Your Dosha</h5>
  <iframe src="https://drive.google.com/file/d/0B8ntZQ2SAyI2Z1lIOFpnNTJyeVE/preview" width="640" height="480"></iframe>
</div>
<!-- <div class="container center">
  <h3>Yoga & Ayurveda</h3>
  <h5>Lecture: Yoga For Your Dosha</h5>
  <iframe src="https://docs.google.com/presentation/d/1RR1bmJ3B1oKunfxXLrCYssCvTRLBAd7taFExO9KCNjY/edit?usp=sharing" width="640" height="480"></iframe>
</div> -->
